@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    background-color: #0F0F0F;
    text-align: center;
    vertical-align: middle;

}
.gradient-container {
    background: rgb(15, 15, 15);
    height: 10%;
    max-height: 10%;
    border-collapse: collapse;
    margin: 0;

}
.no-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.gradient {
    background: linear-gradient(270deg, #00ffbd, #001cff, #ff00b2, #ff0707);
    background-size: 800% 800%;
    height: 4px;
    -webkit-animation: copyright-gradient 0s ease infinite;
    -moz-animation: copyright-gradient 0s ease infinite;
    -o-animation: copyright-gradient 0s ease infinite;
    animation: copyright-gradient 0s ease infinite;
    bottom: 0;
    margin: 0;

    @-webkit-keyframes copyright-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    @-moz-keyframes copyright-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    @-o-keyframes copyright-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    @keyframes copyright-gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html, body {
    height: 100%;
}
h1 { 
    font-family: 'Open Sans', sans-serif;
    font-size: 400%;
    color: white;
}
.title {
    text-align: center;
    vertical-align: auto;
}
.slogan { 
    color: white;
    margin: 16;
    font-size: 140%;
    font-family: 'Oswald', sans-serif;
    filter: opacity(50%);
}
.team {
    background-color: #181818;
    border-radius: 5px;
    width: 370px;
    height: 585px;
    padding: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
    opacity: 0.85;
   }
   
   .team img {
    margin: auto;
    border-radius: 150px;
    border: 5px solid #202020;
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.2);
    height: 200px;
    width: 200px;
   }
   
   .team p {
    font-size: 11.5px;
    letter-spacing: 5px;
    color: #606060;
    font-style: normal;
   }
   
   .team h1 {
    text-shadow: 0px 0px 2px white,0px 0px 20px white,0px 0px 3px #553300,0px 0px 5px #553300;
    padding: 5px;
    font-size: 25px;
   }

   .center {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    overflow: hidden;
   }
   
   .center-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   }
   .infobox {
    background-color: #191919;
    border-radius: 5px;
    width: 295px;
    padding: 3.5px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
    opacity: 0.85;
   }
   