.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}
.menu.menu-open {
	right: 0px;
}
.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
	opacity: 0.5
}
.menu a {
	color: #eeeeee;
	margin-left: 11px;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: 0.5s
}
.menu a:hover {
	color: #ff94dd;
	text-decoration: none;
	transition: 0.5s
}
.menu, .body-push {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
#menuToggle {
	color: #cccccc;
	position: absolute;
	top: 12.5px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
	width: 45px;
	height: 35px;
	line-height: 45px;
	background: rgba(0, 0, 0, 0.25);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	transition: 0.3s;
}
#menuToggle:hover {
	color: #818181;
	transition: 0.3s;
}
.slidebar::after {
	content: ''!important;
	display: block!important;
	width: 0!important;
	height: 2px!important;
	background: #ff94dd!important;
	transition: width .3s!important;
	padding: auto;
	margin: auto;
	transition: 0.50s!important;
}